@import "tailwindcss";

:root {
  --bg-color: #0e031d;       /* Light off-white background */
  --dot-color: #2f1749;      /* Light gray dots */
  --dot-size: 30px;
}

body {
  margin: 0;
  min-height: 50vh;
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--dot-color) 1px, transparent 2px);
  background-size: var(--dot-size) var(--dot-size);
}